* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8f8f8;
}

.container {
    display: flex;
}

.sidebar {
    width: 90px;           
    background: #80b918;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;              
    padding: 40px 0;       
}


.menu-icon {
    width: 26px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.2s;
}

.menu-icon.active {
    opacity: 1;
}

.menu-icon:hover {
    transform: scale(1.15);
    opacity: 1;
}

.content {
    padding: 40px;
    width: 100%;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
}

.card-wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 40px; 
}

.card {
    background: #8da650; 
    color: white;
    width: 230px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: 0.2s;
}

.card-icon {
    width: 32px;
    margin-bottom: 10px;
}

.label {
    font-size: 14px;
    color: white;
    margin-bottom: 5px;
}

.value {
    font-size: 22px;
    font-weight: bold;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.btn {
    margin-top: 30px;
    padding: 12px 22px;
    background: none; 
    color: black;
    border: 2px solid #8da650;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
    text-decoration: none;   
    display: inline-block;  
}

.btn:hover {
    background: #8da650;
    color: white;
    transform: translateY(-2px);
}
