* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f8f8f8;
}

.container {
    display: flex;
}

.sidebar {
    width: 90px;          
    background: #80b918;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;              
    padding: 40px 0;       
}

.menu-icon {
    width: 26px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.2s;
}

.menu-icon:hover,
.menu-icon.active {
    opacity: 1;
    transform: scale(1.15);
}

.content {
    padding: 40px;
    width: 100%;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}

.table-box {
    background: #8da650;
    color: white;
    padding: 25px;
    border-radius: 14px;
    width: 850px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 12px 5px;
    font-size: 15px;
    border-bottom: 2px solid white;
}

td {
    padding: 12px 5px;
    font-size: 15px;
    border-bottom: 1px solid white;
}

.action-icon {
    width: 20px;
    cursor: pointer;
    margin-right: 10px;
    opacity: 0.8;
    transition: 0.2s;
}

.action-icon:hover {
    opacity: 1;
    transform: scale(1.2);
}
